/* body{
    background-color: black;
}

header{
    text-align: center;
    
} */
.container{
    max-width: 1200px;
    float: center;
    margin: auto;
    padding-top: 4%;
    
    /* background-color: azure; */
} 



/* title{
    text-align: center;
    color: #00ff00;
} */
.hero.is-dark .title{
    text-align: left;
    color: #00ff00;
}

.title{
    padding-left: 20%
}

.subtitle{
    text-align: center;
    display: inline-block;
    padding-left: 15%;
}

.contact{
    text-align: right;
    float: right;
    padding-right: 15%;
}

.footer{
    background-color: #363636;
    margin-top: 10%
}



