body{
    /* background-color: black; */
    font-family: nudista-web, sans-serif;
    font-style: normal;
    font-weight: 100;
}

header{
    text-align: center;
    
} 
.container{
    max-width: 1200px;
    float: center;
    margin: auto;
    padding-top: 4%;
    
    /* background-color: azure; */
} 

.logoClass img {
    display: block; 
    margin-left: auto;
    margin-right: auto;
    /* width: 40%; */
    padding-top: 2rem;
    padding-bottom: 4rem;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 50%; */
}



/* title{
    text-align: center;
    color: #00ff00;
} */

.hero-body {
    background-image: url("../images/gts.jpg");
    height: 100%;
    
    background-position: center center;
    /* background-repeat:  no-repeat; */
    /* background-attachment: fixed; */
    background-size:  cover;
    background-color: transparent;
    padding: .5rem .5rem;
}



/* //drop down navbar */
.hero.is-dark a:not(.button):not(.dropdown-item):not(.tag), .hero.is-dark strong {
    color: #00ff00;
    
}

.hero.is-dark .navbar-link {
    color: #00ff00;
}
    
/* /floating contact info/ */

.scroll-quote {
    position: relative;
    padding: .5rem;
    max-width: 1140px;
    margin: auto;
    /* border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px; */
    z-index: 10;
    /* background: #333; */
    border-bottom: 8px, #333;
    color: #00ff00;
    font-size: 20px;
    letter-spacing: .5px;
    text-align: center;
    
}

/* .quote-title{
    font-weight: bold;
}
.scroll-quote .quote-title {
    padding-bottom: 1rem;
} */

.mainTitle {
    text-align: center;
    color: #00ff00;
    /* padding-left: 20%; */
    padding-bottom: 3rem;
    margin-bottom: 3rem;
    font-size: 4rem;
}

.hero.is-dark .title{
    text-align: center;
    color: #00ff00;
    /* padding-left: 20%; */
}

.title{
    padding-top: 2%;
    color: #00ff00;
    
}

.subtitle{
    text-align: center;
    display: inline-block;
    padding-left: 15%;
}

.contact{
    text-align: right;
    float: right;
    padding-right: 15%;
}

.footer{
    /* background-color: #363636; */
    margin-top: 10%;
    background-image: url("../images/gts.jpg");
    height: 100%;
    
    background-position: center center;
    /* background-repeat:  no-repeat; */
    /* background-attachment: fixed; */
    background-size:  cover;
    background-color: transparent;
    padding: 1rem;
}

.footer .media-content h2  {
    color: #00ff00;
}
.footer .contact-content h2 {
    color: #00ff00;
}
.footer .contact-content {
    color: #00ff00;
    /* padding-bottom: 5rem; */
    /* margin-bottom: 3rem; */
}

.footer .copyright {
    display: inline;
}


/* ul{
    list-style-type: disc;
    padding-left: 2rem;
} */

.puretekh1 {
    font-size: 4rem;
    color: #00ff00;
    /* padding-left: 1rem; */
}

.puretekp {
    font-size: 2rem;
}

.puretek {
    margin-left: 10%;
    margin-right: 10%;
}

header{
    padding-bottom: 2px;
    border-bottom: 8px solid black;
}

/* nav bar styling */

.navCont{
    float: left;
}
 
.navbar {
    position: absolute;
    top: 5rem;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 50px;
    color: #00ff00;
    /* padding-right: 10rem; */
    font-size: 1.5rem;
   
    
} 

.navbar-burger{
    float: left;
}


/* beginning of service page styling */
/* /styling for hiden service list/ */

/* .logoClass img {
    display: block; 
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    padding-top: 2rem;
    padding-bottom: 4rem;
} */

.serviceContainer {
    width: 100%;
    border: 1px;
}

.serviceContainer div{
    width: 100%;
}

.serviceContainer .serviceList  {
    background-color:#d3d3d3;
    padding: 2px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
}

.serviceContainer .dryerContent {
    display: none;
    padding: 5px;
}
/* styling for hvac hidden list */

.hvacServiceContainer {
    width: 100%;
    border: 1px;
}

.hvacServiceContainer div{
    width: 100%;
}

.hvacServiceContainer .hvacList  {
    background-color:#d3d3d3;
    padding: 2px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 1rem;
}

.hvacServiceContainer .hvacContent {
    display: none;
    padding: 5px;
}
/* mould hidden liust styling  */

.mouldContainer {
    width: 100%;
    border: 1px;
}

.mouldContainer div{
    width: 100%;
}

.mouldContainer .mouldRemediation  {
    background-color:#d3d3d3;
    padding: 2px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 1rem;
}

.mouldContainer .mouldContent {
    display: none;
    padding: 5px;
}

/* /duct hidden content/ */
.ductContainer {
    width: 100%;
    border: 1px;
}

.ductContainer div{
    width: 100%;
}

.ductContainer .ductList  {
    background-color:#333;
    padding: 2px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 1rem;
}

.ductContainer .ductContent {
    display: none;
    padding: 5px;
}

/* /hvac cleaning hidden content/ */

.hvacCleaningContainer {
    width: 100%;
    border: 1px;
}

.hvacCleaningContainer div{
    width: 100%;
}

.hvacCleaningContainer .hvacCleaningList  {
    background-color: #00ff00;
    padding: 2px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 1rem;
}

.hvacCleaningContainer .hvacCleaningContent {
    display: none;
    padding: 5px;
}

/* //form controll  */

/* .brand{
    text-align: center;
}

.wrapper2 {
    box-shadow: 0 0 20px 0 rgba(72,94,116, 0.7);
}

.wrapper2 > *{
    padding: 1em;
}

.company-info {
    background: #00ff00;
} */