/* //this style sheet has the header and footer main styling for every page. */

.hero.is-dark .title{
    text-align: center;
    color: #00ff00;
    /* padding-left: 20%; */
    font-size: 5rem;
}

.hero-body {
    background-image: url("../images/gts.jpg");
    height: 100%;
    
    background-position: center center;
    /* background-repeat:  no-repeat; */
    /* background-attachment: fixed; */
    background-size:  cover;
    background-color: transparent;
    padding: .5rem .5rem;
    
}

.container {
    max-width: 1200px;
    float: center;
    margin: auto;
}


.title-container {
    max-width: 1200px;
    float: center;
    margin: auto;
    /* padding-top: 4%; */
}
.hero.is-dark a:not(.button):not(.dropdown-item):not(.tag), .hero.is-dark strong {
    color: #00ff00;
    font-size: 1rem;
    /* padding-top: 4rem; */
}

.navbar-item {
    color: #00ff00;
    
}

.scroll-quote {
    position: relative;
    padding: .5rem;
    max-width: 1140px;
    margin: auto;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    z-index: 10;
    background: #000;
    border-bottom: 8px, #333;
    color: #00ff00;
    font-size: 20px;
    letter-spacing: .5px;
    text-align: center;
    
}

.qoute-body a {
    color: #00ff00;
}

.navbar-dropdown{
    background-color: #000;
}

.navbar-burger {
    color: #00ff00;
}

.footer{
    /* background-color: #363636; */
    margin-top: 10%;
    background-image: url("../images/gts.jpg");
    /* height: 100%;
     */
    background-position: center center;
    /* background-repeat:  no-repeat; */
    /* background-attachment: fixed; */
    background-size:  cover;
    background-color: transparent;
    padding: 1rem;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
   
    text-align: center;
}

.footer .media-content h2  {
    color: #00ff00;
    text-align: center;
}

.footer .media-content li {
    list-style-type: none;
    text-align: center;
}
.footer .contact-content h2 {
    color: #00ff00;
}
.footer .contact-content li{
    color: #00ff00;
    list-style-type: none;
    /* padding-bottom: 5rem; */
    /* margin-bottom: 3rem; */
}

.footer .copyright p {
    /* display: inline; */
    text-align: center;
}
/* 
// PM landing section */

.res-pad {
    padding-top: 5rem;
    padding-left: 2rem;
    
}

/* //slider styling */

.image-slider{
    width: 80%;
    height: 450px;
    border: 2px solid black;
    margin: 0 auto;
    position: relative;
}

.image-slider .slide {
    width: 100%;
    height: 100%;
    position: absolute;
}

.image-slider .btn {
    position: absolute;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 25px;
    top: 200px;
    background: #000;
    color: #00ff00;
    font-size: 20px;

}

.image-slider #btn1 :hover {
    box-shadow: 10px 0px 20px 0px black; 
}

.image-slider #btn2 :hover {
    box-shadow: -10px 0px 20px 0px black; 
}

#btn2 {
    position: relative;
    float: right;

}

/* //second slider booster page */
.image-slider2{
    width: 80%;
    height: 450px;
    border: 2px solid black;
    margin: 0 auto;
    position: relative;
}

.image-slider2 .slide2 {
    width: 100%;
    height: 100%;
    position: absolute;
}

.image-slider2 .btnn {
    position: absolute;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 25px;
    top: 200px;
    background: #000;
    color: #00ff00;
    font-size: 20px;

}

.image-slider #btn3 :hover {
    box-shadow: 10px 0px 20px 0px black; 
}

.image-slider #btn4 :hover {
    box-shadow: -10px 0px 20px 0px black; 
}

#btn4 {
    position: relative;
    float: right;

}


/* //upper content of pm landing  */

.PMh2{
    font-size: 2rem;
}

.PMh3{
    font-size: 1rem;
    font-weight: bold;
}

.title{
    padding-top: 2%;
    color: #00ff00;
    
}

.title2 {
    text-align: center;
    color: #00ff00;
    /* padding-left: 20%; */
    font-size: 3.5rem;
    padding-top: 5rem;
    padding-bottom: 4rem;
    /* padding-left: 1rem; */
    
    /* padding: 2px; */
    color: #00ff00;
    border-bottom: 1px solid black;
}

.title2 h1 {
    display: inline;
}



.landingBullets ul {
    text-align: center;
    padding-top: 3rem;
    font-size: 2rem;
    color: #00ff00;
    list-style-type: disc;
}

/* //service content */
.serviceContainer {
    width: 100%;
    border: 1px;
}

.serviceContainer div{
    width: 100%;
}

.serviceContainer .serviceList  {
    background-color:#000;
    color: #00ff00;
    padding: 2px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    margin-top: 1rem;
}

.serviceContainer .dryerContent {
    /* display: none; */
    padding: 5px;
}
/* styling for hvac hidden list */

.hvacServiceContainer {
    width: 100%;
    border: 1px;
}

.hvacServiceContainer div{
    width: 100%;
}

.hvacServiceContainer .hvacList  {
    background-color:#000;
    color: #00ff00;
    padding: 2px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    margin-top: 1rem;
}

.hvacServiceContainer .hvacContent {
    /* display: none; */
    padding: 5px;
}
/* mould hidden liust styling  */

.mouldContainer {
    width: 100%;
    border: 1px;
}

.mouldContainer div{
    width: 100%;
}

.mouldContainer .mouldRemediation  {
    background-color:#000;
    color: #00ff00;
    padding: 2px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    margin-top: 1rem;
}

.mouldContainer .mouldContent {
    /* display: none; */
    padding: 5px;
}

/* /duct hidden content/ */
.ductContainer {
    width: 100%;
    border: 1px;
}

.ductContainer div{
    width: 100%;
}

.ductContainer .ductList  {
    background-color:#000;
    color: #00ff00;
    padding: 2px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    margin-top: 1rem;
}

.ductContainer .ductContent {
    /* display: none; */
    padding: 5px;
}

/* /hvac cleaning hidden content/ */

.hvacCleaningContainer {
    width: 100%;
    border: 1px;
}

.hvacCleaningContainer div{
    width: 100%;
}

.hvacCleaningContainer .hvacCleaningList  {
    background-color: #000;
    color: #00ff00;
    padding: 2px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    margin-top: 1rem;
}

.hvacCleaningContainer .hvacCleaningContent {
    /* display: none; */
    padding: 5px;
}

/* //guarantee hidden content */

.guaranteeContainer {
    width: 100%;
    border: 1px;
}

.guaranteeContainer div{
    width: 100%;
}

.guaranteeContainer .guarantee  {
    background-color: #000;
    color: #00ff00;
    padding: 2px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    margin-top: 1rem;
}

.guaranteeContainer .guaranteeContent {
    /* display: none; */
    list-style-type: disc;
    padding: 5px;
}

.guaranteeContainer .guaranteeContent ul.numberList {
    list-style-type: disc;
   
}

/* //rusted drain pan styling  */

.titleRust {
    text-align: left;
    color: #00ff00;
    /* padding-left: 20%; */
    font-size: 3rem;
    padding-top: 2%;
    color: #00ff00;
    border-bottom: 1px solid black;
}

.rustContent {
    font-size: 1.5rem;
    font-weight: bold;
}

/* //remediation page styling  */

.titleRem {
    text-align: left;
    color: #00ff00;
    /* padding-left: 20%; */
    font-size: 3rem;
    padding-top: 2%;
    color: #00ff00;
    border-bottom: 1px solid black;
}


/* //insuite exhaust cleaning */
.con2 {
    margin-top: 2rem;
    border-top: 2px solid black;
}

/* 
//form controll  */ 

.brand{
    text-align: center;
}

.brand span {
    color: #000;
}

.initial-wrapper {
    padding-top: 2rem;
}

.wrapper2 {
    box-shadow: 0 0 20px 0 rgba(72,94,116, 0.7);
    
}

.wrapper2 > *{
    
    padding: 2em;
}

.company-info {
    background: #00ff00;
}

.company-info h3, .company-info ul {
    text-align: center;
    font-size: 2rem;
    text-decoration: underline;
    margin: 0 0 1 rem 0;
}

.contact2 .alert{
    text-align: center;
    padding:10px;
    background:#79c879;
    color:rgb(29, 22, 22);
    margin-bottom:10px;
    display:none;
}
/* //form input styles */
 
/* .contact2 form {
    display: grid;
    grid-template-columns:  1fr 1fr; 
    grid-gap: 2rem;
} */

/* .contact2 form label{
    display: block;
}

.contact2 form p{
    margin: 0%;
}  */

/* //form2 styling */



/* ///experimenting with new landing page  */



.hero.is-success {
    background-color: #000;
    color: #00ff00;
}

.hero.is-success .tabs.is-boxed li.is-active a {
    background-color: #000;
    color: #00ff00;
    border-style: none;
}


/* //seasonal service page */

.titleRemSeasonal {
    text-align: center;
    color: #00ff00;
    /* padding-left: 20%; */
    font-size: 3rem;
    padding-top: 2%;
    color: #00ff00;
    border-bottom: 1px solid black;
}

/* //stlying for bullets on main landing page */

.landingBullets p ol li {
    list-style: square;
}